<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <input id="roomInput" placeholder="Enter room ID">
    <button id="joinBtn">Join Party</button>
    <button id="createBtn">Create Party</button>
    <div id="roomStatus"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>
</body>
</html>